body {
    font-family: sans-serif;
}
.container {
    max-width: 1460px;
    margin: auto;
}
.header {
    background-color: #171717;
    padding-top: 37px;
    padding-bottom: 60px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-right: 824px;
}
.phone-link {
    margin-right: 39px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
}
.accent-color {
    color: #D6AF76;
}
.call-back {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 0;
}
.phone-png {
    display: inline-block;
    margin-left: 26px;
    margin-right: 10px;
}
.services {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color:#171717;
}
.services-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 41px;
}
.services-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 41px;
}
.list-service {
    display: grid;
    grid-gap: 34px;
    list-style-type: none;
    grid-template-rows: repeat(2,468px);
    grid-template-areas:
    "first1 first1 second2 second2 third3 third3"
    "fourth4 fourth4 fourth4 fives5 fives5 fives5";
    margin: 0;
    padding-left: 0;
}
.service-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 220px 115px;
    text-align: center;
}
.item1 {
    grid-area: first1;
    background-color: #634F2C;
}
.item2 {
    grid-area: second2;
    background-color: #B4A385;
}
.item3 {
    grid-area: third3;
    background-color: #E4B564;
}
.item4 {
    grid-area: fourth4;
    background-color: #635A4A;
}
.item5 {
    grid-area: fives5;
    background-color: #B08C4D;
}
.transport {
    padding-top: 80px;
    padding-bottom: 191px;
    background-color: #171717;
}
.transport-list {
    display: grid;
    list-style-type: none;
    padding-left: 0;
    column-gap: 30px;
    grid-template-columns: repeat(3,1fr);
}
.transport-subrids-list {
    list-style-type: none;
    display: grid;
    row-gap: 24px;
    padding-left: 0;
}

.transport-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 114px 0 52px;
}
.transport1 {
    background-color: #0E0E0E;
    height: 313px;
}
.transport2 {
    background-color: #1F1F1F;
    height: 560px;
}
.transport3 {
    height: 439px;
    background-color: #242424;
}
.transport4 {
    height: 405px;
    background-color: #E4B564;
    color: #000000;
}
.transport5 {
    height: 255px;
    background-color: #1F1F1F;
}
.transport6 {
    height: 313px;
    background-color: #0E0E0E;
}
.transport7 {
    height: 277px;
    background-color: #0A0909;
}
.portfolio {
    background-color: #0E0E0E;
    padding-top: 172px;
    padding-bottom: 1px;
}
.portfolio-header {
    display: flex;
    justify-content: space-between;
}
.all-project {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    border: 1px solid #E4B564;
    color: #E4B564;
    align-self: center;
}
.clients-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 0;
    list-style-type: none;
}
.clients-item {
    position:relative;
}
.clients-item-description {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    display: none;
}
.logo-client-description {
    margin: 120px auto 0;
}
.client-description {
    width: 326px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 15px auto 61px;
    text-align: center;
}
.accent-color2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}
.logo-client {
    padding: 170px 150px;
}
.client1 {
    background-color: #634F2C;
}
.client1:hover .logo-client1 {
    display: none;
}
.client1:hover .clients-item-description {
    display: block;
}
.client2 {
    background-color: #E8D2ABC2;
}
.client2:hover .logo-client2{
    display: none;
}
.client2:hover .clients-item-description {
    display: block;
}
.client3 {
    background-color: #E4B564;
}
.client3:hover .logo-client3{
    display: none;
}
.client3:hover .clients-item-description {
    display: block;
}
.client4 {
    background-color: #635A4A;
}
.client4:hover .logo-client4{
    display: none;
}
.client4:hover .clients-item-description {
    display: block;
}
.client5 {
    background-color: #B08C4D;
}
.client5:hover .logo-client5{
    display: none;
}
.client5:hover .clients-item-description {
    display: block;
}
.client6 {
    background-color: #634F2C;
}
.client6:hover .logo-client6{
    display: none;
}
.client6:hover .clients-item-description {
    display: block;
}
.footer {
    height: 170px;
    background-color:#171717 ;
}




